page-flagship {
.sli{
	margin : 0px;
	width : 10cm;	
	height : 40%;
}
#text{
	margin-left : 5px;
	border-left : 4px solid #FC0F71;
	margin-top : 10px;
	margin-bottom : -3px;
	font-weight :400;
	font-size :12pt;
	padding-left : 5px;
}
}
