page-cart {

	#edit{
		float : right;
		margin-top : -4px;
		margin-bottom: -8px;
		margin-right : -5px;
		font-size : 12pt;
	}
	#select{
		height :0.65cm;
		width :1.6cm;
		float :right;
		color :#FC0F71;
		border : solid 1px #FC0F71;
		font-size : 10pt;
		font-weight : 700;
		margin-top : -3px;
		margin-right : 28px;
		background-color : white;

	}
	.layoutBG{
	    background-color : #3A3939;
		width : 10cm;
		height : 1.2cm;
		padding-top : 8px;

	}
	#txt{
		color : white;
		margin-left : 10px;
		margin-bottom : 5px;

	}
	.layoutPop{
		margin-left : 8px;
		border-left : 4px solid #FC0F71;
		margin-top : -4px;
		font-weight :600;
		font-size :12pt;
	}
	#imgformat{
		width :10cm;
		margin-left : -10px;
		margin-top : -10px;
	}
	.layoutCard{
		position : relative;
		height : 7cm;
		width : 4.4cm;
		margin-left : 0px;
		margin-top : -5px;
		margin-right : -2px;

	}
	#content{
		overflow : hidden;
		width : 4cm;
		height : 1cm;
		margin-left : -3px;
	}
	#itemformat{
		width : 3cm;
		height : 3cm;
		margin-top : 20px;
		margin-bottom : 10px;
		margin-left : 25px;		
	}
	#price{
		font-weight : 600;
		font-size: 12pt;
		color : black;
	}
	#oldP{
		font-weight : 400;
		font-size : 8pt;
		text-decoration : line-through;
	}
	.layoutContent{
		display : flex;
		margin-top : 25px;
		margin-left : -5px;
		width : 2.3cm;
		height : 1 cm;
		
	}
	#layoutbasket{
		margin-top : -26px;
		margin-right : -10px;
		float : right;
		width :	25px;
		height : 25px;
		border-radius : 50%;
		color : white;
		background-color : #FC0F71;

	}
}
